# Environment variables
.env
**/.env

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Node.js
node_modules/
dist/
build/

# IDE
.vscode/

# Analysis engine cloned repositories
analysis_engine/storage/repositories/